fastapi==0.116.2
starlette==0.48.0
uvicorn==0.36.0
mangum==0.19.0
httpx==0.28.1
requests==2.32.5
openai==1.108.1
pydantic==2.11.9
pydantic_core==2.33.2
typing-extensions==4.15.0
streamlit==1.49.1
tenacity==9.1.2